@use "mixins";

.medication-layout-container {
  width: 50%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &_title {
    margin: 50px 0 30px 0;
    font-size: 50px;
    font-weight: 500;
  }

  &_table {
    width: 100%;
  }

  &_search-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      width: 150px;
    }
  }
}

@include mixins.for-phone-only(){
  .medication-layout-container{
    width: 90% !important;
  }
}
