@use "mixins";
@use "variables";

.table-container {
  max-height: calc(100vh - 300px);
  overflow-y: auto;
  @include mixins.standardCardShadow();
}

table {
  tr:nth-child(even) {
    background-color: variables.$hover-blue;
  }

  td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.mat-mdc-header-row {
  position: sticky;
  top: 0;
  background-color: variables.$hover-blue !important;
}
