@use "mixins";

html, body {
  height: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
  @include mixins.backgroundImage();
}

* {
  font-family: "Balsamiq Sans", "Manrope", serif !important;
}

mat-icon {
  font-family: 'Material Icons' !important;
}
